@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lato", sans-serif;
    font-size: 19.48px;
    line-height: 23px;
    font-weight:300;
}
:root{
    --font-small: 0.7rem;
    --font-menus: 0.825rem;
    --font-title: 1.417rem;
    --font-xl: 2.043rem;
    --font-xxl: 2.443rem;
    --color-white: #fff;
    --color-default: #990537;
    --color-primary: #5E151E;
    --color-primary-light: #D90B4f;
    --color-secondary: #6e6e6e;
    --color-complementary: #051F43;
    --color-complementary-alpha: 5, 31, 67;

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}

html{
    letter-spacing: -0.5px;
    background: rgb(245, 245, 245);
    color: var(--color-secondary);
}
.bgr--primary{
    background-color: var(--color-primary);
}
.bgr--primary-light{
    background-color: var(--color-primary-light);
}
.bgr--primary-default{
    background-color: var(--color-default);
}
.bgr--complementary{
    background-color: var(--color-complementary);
}
.bgr--complementary-005alpha{
    background-color: rgba(var(--color-complementary-alpha), 0.05);
}
.bgr--white{
    background-color: var(--color-white);
}
.bgr--degr{
    background: linear-gradient(to right, var(--color-primary), var(--color-complementary));
}

.txt--blanco{
    color: var(--color-white);
}
.txt--primary{
    color: var(--color-primary);
}

.txt--small{
    font-size: var(--font-small);
    letter-spacing: 0px;
}
.pd4{
    padding: 4px;
}
/*B bloque -- E elemento __ M modificicador */
.container--content-center{
    display: flex;
    justify-content: center;
}
.container{
    width: 1200px;
}
.head--contact {
    display: flex;
    height: 54px;
    align-items: center;    
    justify-content: space-between;
    p{ 
        display: flex;
        align-items: center;
        span{
            padding-right: 4px;
        }
        span:last-child{
            padding-left: 12px;
        }
    }
}
.head--main {
    display: flex;
    height: 116px;
    padding: 0 48px;
    align-items: center;
    justify-content: space-between;
    .head--main--logo {
        display: flex;
        align-items: center;
        gap: 16px;

        h2{
            font-family: "Montserrat", sans-serif;
            font-size: 1rem;
            font-weight: 800;
            color: var(--color-complementary);
            width: 350px;
        }
    }
    ul{
        display: flex;
        li{
            list-style: none;
            a{
                font-size:var(--font-menus);
                text-transform: uppercase;
                text-decoration: none;
                padding: 8px 24px;
                border-radius: 5px;
                font-weight: 400;
                color: var(--color-secondary);
            }
            a:hover{
                color: var(--color-primary);
                background-color: rgba(94, 21, 30, 0.1);
            }
            a:active, a´:visited{
                color: var(--color-secondary);
            }
        }
    }
}

/*Slider*/
.slider--img-principal{
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 100%;
}
.slider--background-color{
    height: 70vh;
    width: 100%;
    background: radial-gradient(circle, rgba(5,31,67,0.7) 0%, rgba(5,31,67,1) 100%);
}
/* portada Principal*/
.hero{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-white);
    width: 1200px;
    padding: 0 10%;
    gap: 2rem;
    h5{
        color: inherit;
        font-size: var(--font-xxl);
        line-height: calc(var(--font-xxl)*1.25);
        text-align: center;
    }
    h6{
        font-family: "Montserrat", sans-serif;
        font-size: var(--font-xl);
        line-height: var(--font-xl);
        letter-spacing: -0.02em;
        text-align: center;
    }
    .hero--column{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        width: 100%;
    }
    .hero--button{
        background-color: var(--color-primary-light);
        color: var(--color-white);
        font-size: var(--font-menus);
        padding: 16px 32px;
        text-decoration: none;
    }
}
/*Textos*/
h3{
    font-size: var(--font-title);
    color: var(--color-primary);
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;;
}
h3::before{
    display: flex;
    flex-direction: column;
    content: "";
    background-color: var(--color-primary-light);
    width: 54px;
    height: 4px;
    margin-bottom: 16px;
}
.bgr--complementary h3,
.bgr--degr h3,
.bgr--primary-default h3{
    color: var(--color-white);
}
.contanier--content-text{
    padding:74px 74px;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main--content-columns{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 30px;
    span{
        display: block;
        text-align: center;
        font-size: 4rem;
        padding: 40px 0;
    }
}
.main--content-sede{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.main--content-sede-img{
    background-position: center;
    background-size: cover;
    height: 460px;
}

.main--content-precios{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
}
.content-precios{
    border-radius: 8px;
    background-color: rgba(var(--color-complementary-alpha), 0.5);
    color: var(--color-white);
    padding-bottom: 28px;

    h4{
        background-color: rgba(var(--color-complementary-alpha), 0.5);
        border-radius: 8px 8px 0 0;
        font-family: "Montserrat", sans-serif;
        font-size: var(--font-menus);
        font-weight: 800;
        letter-spacing: normal;
        padding: 28px;
    }
    p{
        font-size: var(--font-xl);
        padding: 30px 28px;
        font-weight: 800;
    }
    span{
        margin: 0 28px 20px 28px;
        display: block;
        font-weight: 800;
    }
    a{
        margin: 0 28px;
        display: block;
        padding: 12px;
        background-color: var(--color-default);
        border-radius: 8px;
        color: var(--color-white);
        font-size: var(--font-menus);
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
    }
}
.main--content-ejes{
    display: grid;
    grid-template-columns: repeat(5, 1fr);   
    margin-top: 40px;
}
.content-ejes{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
.img-eje{
    position: absolute;
    overflow: hidden;
    text-align: center;
}

.tit-eje{
    background: linear-gradient(to top,rgba(0,0,0,0.8),rgba(0,0,0,0));
    display: flex;   
    padding: 24px;    
    z-index: 2;
    position: relative;
    span{
        font-size: 2rem;
        padding-right: 16px;
    }
    h5{
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
    }
}
h5{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    
}
.content--text--comision{
    display: flex;
    gap: 40px;
    padding: 16px 0 24px 0;
    margin-bottom: 24px;
    border-bottom: rgba(var(--color-complementary-alpha), 0.2) solid 4px;
    div{
        flex-basis: 50%;
    }
}
.content--text--comision:last-child{
    border-bottom: none;
}